<div class="container">
<h1 class="pt-5 pb-3">Restaurants</h1>

<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
<% end %>
</ul>

<%= link_to "Add new restaurant", new_restaurant_path %>
</div>
